<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
</head>
<body>

    <h1>Forecast</h1>

    <h1>{{ title }} Weather</h1>
    <p>{{ status }} and {{ temp }} &deg;C</p>
    <p>Feels like {{ feels_like }} &deg;C</p>
    <p>Country: {{ country }}</p>

    <form action="/weather" method="get">
        <input type="text" name="city" id="city" placeholder="Enter a City" value="{{ request.args.get('city', '') }}" />
        <button type="submit">Submit</button>
        <button id="locationButton" type="button" class="location-btn">Use Current Location</button>
    </form>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>